<header>
	<h3>Local Forcast</h3>
</header>
<body>
	<h2 id="title">Click below to obtain your location</h2>
	<button class="geolocationGetter" {{action "getLocation"}}>Get Location</button>
</body>

{{outlet}}
